body {
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    color: #ffffff;
   }

h1 {
    font-size: 4em;
}

#main-div {
    height: 100%;
    width: 100%;
}

form {
    margin: 1em;
    width: fit-content;
}

/* remove spinner/arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset {
    border-radius: 8px;
    border: 1px solid #ffffff;
}

legend {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
}

input[type=number] {
    border: 1px solid #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
}

input::placeholder {
    color: #ffffff;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    cursor: pointer;
}

#infectionprobability::-webkit-slider-thumb {
    background: #ff0000;
}

#recoverytimeinmillis::-webkit-slider-thumb {
    background: #00ff00;
}

  

#sirsim-container {
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: fit-content;
}

canvas {
    margin: 0em;
    padding: 0em;
    /*width: 19.5em;
    height: 18em;*/
    min-height: 10em;
    min-width: 10em;
    border-radius: 8px;
}
