/* General element style */
* {
    box-sizing: border-box;
}

/* For Mobile */
@media only screen and (max-width:672px) {
    /* For mobile phones: */
    .main {
      width: 100%;
    }
}

/* General body style */
body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* headers style */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 5em;
    margin: 0.2em 0em 0.2em 0em;
    padding: 0em;
}

h2  {
    font-size: large;
    font-weight: 400;
}

/* Divs style */
#title-div {
    margin: 0em;
    padding: 0em;
}

.flex-container {
    display: flex;
}

#text-div {
    width: 100%;
    margin-bottom: 3em;
}

#content-div {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    color: black;
    height: 100%;
    width: 100%;
}

#sim-and-form-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
    align-items: center;
}
/*
#sirsim-container {
    width: fit-content;
    height: fit-content;
    margin: 10px;
}*/
#graph-sim-div {
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

#form-div {
    max-width: fit-content;
    margin: 10px;
    flex: 1 1 auto;
}

.form-legend {
   align-self: stretch;
   grid-column: span 5;
   /* margin & borders workaround to create bicolor
    * backround. */   
   border-radius: 8px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   margin: -1rem calc(-1rem + 1px) 0 calc(-1rem + 1px); 
   background: #f5f5f5;
   padding: 0.5rem 1rem;
}

/* General forms style */
form {
    border: 1px solid #cecece;
    border-radius: 8px;
    padding: 1em;    
}

/* Form elements style */
.grid-container {
    display: grid;
    row-gap: 0.5em;
    /*max-width: fit-content;*/
    grid-template-columns: 4fr 1fr 4fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: stretch;
}

.label {
    max-width: fit-content;
    padding-right: 0.5em;
}

.minspan {
    text-align: right;
}

.maxspan {
    text-align: left;
}

.actspan {
    padding-left: 0.5em;
    text-align: center;
}

.formbtn-div {
    grid-column: span 5;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: -1em; /* creates gap between items */

}

/* General inputs style */
input:focus {
    outline: none;
}

/* Input ranges style */
input[type=range] {
    margin: 5px 5px 5px 5px;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;  
    background: #cecece;
    outline: none;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    cursor: pointer;
}

#popsize::-webkit-slider-thumb {
    background: black;
}

#infectionprobability::-webkit-slider-thumb {
    background: #ff0000;
}

#recoverytimeinmillis::-webkit-slider-thumb {
    background: #00ff00;
}

#speed::-webkit-slider-thumb {
    background: #ffff00;
}

/* Buttons style */
button {
    background-color: #cecece;
    border: none;
    border-radius: 4px;
    font-weight: 100;
    width: 6em;
    height: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 1em; /* gap between buttons */
    /* button text */
    color: #343434;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: black;
    color: #ffffff;
}

button:focus {
    outline: none;
}

/* Canvas style */
canvas {
    border-radius: 8px;
}

/* Link style */
a {
    color: #343434;
}

a:visited {
    color: black;
}
