/* General element style */
* {
    box-sizing: border-box;
}

/* General body style */
body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* headers style */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 5em;
    margin: 0.2em 0em 0.2em 0em;
    padding: 0em;
}

/* Divs style */
#title-div {
    margin: 0em;
    padding: 0em;
}

.flex-container {
    display: flex;
}

#text-div {
    width: 100%;
    margin-bottom: 3em;
}

#content-div {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    color: black;
    height: 100%;
    width: 100%;
}

#sim-and-form-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 3em;
    list-style: none;
    align-items: center;
}

#sirsim-container {
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

#form-div {
    max-width: fit-content;
    margin: 10px;
    flex: 1 1 auto;
}

/* General forms style */
form {
    border: 1px solid black;
    border-radius: 8px;
    padding: 1em;    
}

/* Form elements style */
.grid-container {
    display: grid;
    row-gap: 0.5em;
    max-width: min-content;
    grid-template-columns: fit-content 1fr 4fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.minspan {
    text-align: right;
}

.maxspan {
    text-align: left;
}

.actspan {
    text-align: center;
}

.formbtn-div {
    grid-column: span 5;
}

/* General inputs style */
input:focus {
    outline: none;
}

/* Input ranges style */
input[type=range] {
    margin: 5px 5px 5px 5px;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;  
    background: #cecece;
    outline: none;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    cursor: pointer;
}

#popsize::-webkit-slider-thumb {
    background: black;
}

#infectionprobability::-webkit-slider-thumb {
    background: #ff0000;
}

#recoverytimeinmillis::-webkit-slider-thumb {
    background: #00ff00;
}

#speed::-webkit-slider-thumb {
    background: #ffff00;
}

/* Buttons style */
button {
    background-color: white; /* old: #0055ff9c */
    font-weight: bold;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: inherit;
    border-radius: 4px;
    width: 6em;
    height: 2rem;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: #ffffff;
}

button:focus {
    outline: none;
}

/* Canvas style */
canvas {
    border-radius: 8px;
}
